# path:   /home/klassiker/.local/share/repos/zram/zram.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/zram
# date:   2025-08-06T05:13:30+0200

[Unit]
Description=Setup zRAM Swaps

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/klassiker/.local/share/repos/zram/zram.sh --start optimized
ExecStop=/home/klassiker/.local/share/repos/zram/zram.sh --stop optimized
Restart=on-failure
RestartSec=1m

[Install]
WantedBy=multi-user.target
