# path:   /home/klassiker/.local/share/repos/zram/zram.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/zram
# date:   2024-03-28T08:21:56+0100

[Unit]
Description=Setup zRAM Devices

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/klassiker/.local/share/repos/zram/zram.sh --start optimized
ExecStop=/home/klassiker/.local/share/repos/zram/zram.sh --stop optimized
Restart=on-failure
RestartSec=1m

[Install]
WantedBy=multi-user.target
