# path:   /home/klassiker/Projects/repos/zram/zram.service
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/zram
# date:   2026-06-10T05:27:58+0200

[Unit]
Description=Setup zRAM Swaps

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/klassiker/Projects/repos/zram/zram.sh --start optimized
ExecStop=/home/klassiker/Projects/repos/zram/zram.sh --stop optimized
Restart=on-failure
RestartSec=1m

[Install]
WantedBy=multi-user.target
